$charcolor: #8f4e8b;
$textcolor: #c8cacc;
body {
    background: #5e5086;

    #prompt {
        color: $textcolor;
    }

    #keyword-main {
        color: #2f2742;
        // Color used in haskell svg but too light: #453a62;
    }

    #keyword-secondary {
        color: $charcolor;
    }

    #ghcVersion {
        color: $textcolor;
    }

    #output {
        color: $textcolor;
    }

    .Typewriter__cursor {
        color: $charcolor;
    }
}

a {
    color: $charcolor;
}
