$charcolor: #16C60C;
$textcolor: #ffffff;
body {
    background: #002454;

    #prompt {
        color: $textcolor;
    }

    #keyword-main {
        color: #C19C00;
        // Color used in haskell svg but too light: #453a62;
    }

    #keyword-secondary {
        color: $charcolor;
    }

    #ghcVersion {
        color: $textcolor;
    }

    #output {
        color: $textcolor;
    }

    .Typewriter__cursor {
        color: $textcolor;
    }
}

a {
    color: $charcolor;
}
