$charcolor: #dd4814;
$textcolor: #ffffff;
body {
    background: #300a24;

    #prompt {
        color: $textcolor;
    }

    #keyword-main {
        color: #4e9a06;
    }

    #keyword-secondary {
        color: #3465a4;
    }

    #ghcVersion {
        color: $textcolor;
    }

    #output {
        color: $textcolor;
    }

    .Typewriter__cursor {
        color: $charcolor;
    }
}

a {
    color: $charcolor;
}
