$charcolor: black;
$textcolor: black;
body {
    background: white;

    #prompt {
        color: $textcolor;
    }

    #keyword-main {
        color: $charcolor;
    }

    #keyword-secondary {
        color: $charcolor;
    }

    #ghcVersion {
        color: $textcolor;
    }

    #output {
        color: $textcolor;
    }

    .Typewriter__cursor {
        color: $charcolor;
    }
}

a {
    color: $charcolor;
}
