<style>
{{ if .IsHome }}
{{- $default_style := resources.Get "sass/default.scss" | resources.ToCSS | minify -}}
{{- $default_style.Content | safeCSS -}}
{{ else }}
{{- $activity_style := resources.Get "sass/activity.scss" | resources.ToCSS | minify -}}
{{- $activity_style.Content | safeCSS -}}
{{ end }}

{{ $prompt_style := resources.Get "sass/haskell.scss" | resources.ToCSS | minify -}}
{{- $prompt_style = $prompt_style.Content -}}
{{ with (eq .Site.Params.Prompt.scheme "prompt-white") }}
    {{- $prompt_style = resources.Get "sass/white.scss" | resources.ToCSS | minify -}}
    {{- $prompt_style = $prompt_style.Content -}}
{{ end }}
{{ with (eq .Site.Params.Prompt.scheme "prompt-powershell") }}
    {{- $prompt_style = resources.Get "sass/powershell.scss" | resources.ToCSS | minify -}}
    {{- $prompt_style = $prompt_style.Content -}}
{{ end }}
{{ with (eq .Site.Params.Prompt.scheme "prompt-ubuntu") }}
    {{- $prompt_style = resources.Get "sass/ubuntu.scss" | resources.ToCSS | minify -}}
    {{- $prompt_style = $prompt_style.Content -}}
{{ end }}
{{ with (eq .Site.Params.Prompt.scheme "prompt-retro") }}
    {{- $prompt_style = resources.Get "sass/retro.scss" | resources.ToCSS | minify -}}
    {{- $prompt_style = $prompt_style.Content -}}
{{ end }}

{{/* Assume that ubuntu and retro do not exist in gogh. */}}
{{ $themeData := getJSON "https://raw.githubusercontent.com/Mayccoll/Gogh/master/data/themes.json" -}}
{{ range $t := $themeData.themes -}}
    {{if eq $t.name $.Site.Params.Prompt.scheme -}}
        {{ $prompt_style = printf "body{background:%s}body #prompt{color:%s}body #keyword-main{color:%s}body #keyword-secondary{color:%s}body #ghcVersion{color:%s}body #output{color:%s}body .Typewriter__cursor{color:%s}body a{color:%s}" $t.background $t.cursorColor $t.green $t.blue $t.cursorColor $t.cursorColor $t.cursorColor $t.cursorColor | safeCSS -}}
    {{ end -}}
{{ end }}

{{ $prompt_style | safeCSS }}

</style>


