<span id="activity-title"></span> <br>
<span id="activity-content"></span> <br>

{{ with resources.Get "js/typewriter.js" | resources.Minify -}}
    <script type="text/javascript" src={{ .Permalink }}></script>
{{ end -}}
<script type="text/javascript">
    const typeeffect = async () => {
        await typewriter({{ .title }}, "activity-title", {{ .titleDelay }});
        await typewriter({{ .content }}, "activity-content", {{ .contentDelay }});
        return;
    };

    typeeffect();
</script>
