<span id="ghci_heading"></span><br>
{{ $range_span_fmt_str := "<span id='ghci_%s_%.2d'></span><span id='%[1]s_%.2d'></span><br>" -}}
{{ range $index, $_ := .imports -}}
    {{ printf $range_span_fmt_str "import" $index | safeHTML }}
{{ end -}}
{{ range $index, $_ := .sysInfoFcn -}}
    {{ printf $range_span_fmt_str "sys_info_fcn" $index | safeHTML }}
{{ end -}}
<span id="ghci_sys_info_fcn_invoke"></span><span id="sys_info_fcn_invoke"></span><br>
<span id="sys_info_fcn_output"></span><br>
<span id="ghci_description_fcn_invoke"></span><span id="description_fcn_invoke"></span><br>
<span id="description_fcn_output"></span><br>
{{ if ne (len .pictureFcnInvoke) 0 -}}
    <span id="ghci_picture_fcn_invoke"></span><span id="picture_fcn_invoke"></span><br>
{{ end -}}
{{ if ne (len .pictureFcnOutput) 0 -}}
    <span id="picture_fcn_output"></span><br>
{{ end -}}
{{ if ne (len .activityFcnInvoke) 0 -}}
    <span id="ghci_activity_fcn_invoke"></span><span id="activity_fcn_invoke"></span><br>
{{ end -}}
{{ if ne (len .activityFcnOutput) 0 -}}
    <span id="activity_fcn_output"></span><br>
{{ end -}}
<span id="ghci"></span><br>
<br>

{{ with resources.Get "js/typewriter.js" | resources.Minify -}}
    <script type="text/javascript" src={{ .Permalink }}></script>
{{ end -}}
<script type="text/javascript">
    const typeeffect = async () => {
        await typewriter({{ .heading | safeHTML }}, "ghci_heading", {{ .headingDelay }});
        {{ range $index, $import_str := .imports -}}
            {{ $import_id_str := printf "import_%.2d" $index -}}
            await typewriter(
                {{- $.prompt }}, {{ printf "ghci_%s" $import_id_str }}, {{ $.promptDelay -}}
            );
            await typewriter({{ $import_str }}, {{ $import_id_str }}, {{ $.codeDelay }});
        {{ end -}}
        {{ range $index, $sys_info_fcn_str := .sysInfoFcn -}}
            {{ $sys_info_fcn_id_str := printf "sys_info_fcn_%.2d" $index -}}
            {{ $prompt_str := "" -}}
            {{ if eq $index 0 -}}
                {{ $prompt_str = $.prompt -}}
            {{- else -}}
                {{ $prompt_str = $.promptMultiline -}}
            {{ end -}}
            await typewriter(
                {{- $prompt_str }}, {{ printf "ghci_%s" $sys_info_fcn_id_str }}, {{ $.promptDelay -}}
            );
            await typewriter(
                {{- $sys_info_fcn_str }}, {{ $sys_info_fcn_id_str }}, {{ $.codeDelay -}}
            );
        {{ end -}}
        await typewriter(
            {{- .prompt }}, "ghci_sys_info_fcn_invoke", {{ .promptDelay -}}
        );
        await typewriter({{ .sysInfoFcnInvoke }}, "sys_info_fcn_invoke", {{ .codeDelay }});
        await typewriter({{ .sysInfoFcnOutput }}, "sys_info_fcn_output", {{ .stdoutDelay }});
        await typewriter({{ .prompt }}, "ghci_description_fcn_invoke", {{ .promptDelay }});
        await typewriter({{ .descriptionFcnInvoke }}, "description_fcn_invoke", {{ .codeDelay }});
        await typewriter({{ .descriptionFcnOutput }}, "description_fcn_output", {{ .stdoutDelay }});
        {{ if ne (len .pictureFcnInvoke) 0 -}}
            await typewriter({{ .prompt }}, "ghci_picture_fcn_invoke", {{ .promptDelay }});
            await typewriter({{ .pictureFcnInvoke }}, "picture_fcn_invoke", {{ .codeDelay }});
        {{ end -}}
        {{ if ne (len .pictureFcnOutput) 0 -}}
            await typewriter({{ .pictureFcnOutput }}, "picture_fcn_output", {{ .stdoutDelay }});
        {{ end -}}
        {{ if ne (len .activityFcnInvoke) 0 -}}
            await typewriter({{ .prompt }}, "ghci_activity_fcn_invoke", {{ .promptDelay }});
            await typewriter({{ .activityFcnInvoke }}, "activity_fcn_invoke", {{ .codeDelay }});
        {{ end -}}
        {{ if ne (len .activityFcnOutput) 0 -}}
            await typewriter({{ .activityFcnOutput }}, "activity_fcn_output", {{ .stdoutDelay }});
        {{ end -}}
        await typewriter({{ .prompt }}, "ghci", {{ .promptDelay }});
        return;
    };

    // FIXME: find a better solution for bottom scroll with dynamically created elements
    const scrollTimerId = setInterval(
        () => document.body.scrollTo({top: document.body.scrollHeight, behavior: "smooth"}),
        {{ .scrollDownUpdateInterval }}
    );

    typeeffect()
        .then(() => setTimeout(() => clearInterval(scrollTimerId), {{ .scrollDownTimeoutAfterTypeEffect }}));
</script>
